* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  background: black;
  min-height: 100vh;
  color: rgb(212, 206, 206);
}
.mainLayout {
  min-height: calc(100vh-10px);
}

table thead tr th {
  background: transparent !important;
  color: white !important;
}
table tbody tr td {
  background: transparent !important;
  color: white !important;
}
